.row
  .col-md-2.text-left
    = link_to edit_invoice_path(invoice), class: "btn btn-success" do
      = icon('edit')
    = link_to submit_invoice_path(invoice), class: "btn btn-warning" do
      = icon('share')
  .col-md-4= link_to_unless_current invoice.description, invoice_path(invoice)
  .col-md-2= invoice.billing_date
  .col-md-2= l invoice.submitted_at, format: :short
  .col-md-2= number_to_currency(invoice.amount)

