.container
  = render @invoice

.container
  %table.table.table-striped
    %thead
      %tr
        %th Description
        %th Units
        %th Rate
        %th Amount
        %th
          = link_to new_invoice_invoice_item_path(@invoice), class: "btn btn-primary" do
            = icon('plus')
            Add a line
    %tfoot
      %tr
        %td &nbsp;
        %td &nbsp;
        %td TOTAL:
        %td= number_to_currency(@invoice.amount)
        %td &nbsp;
        
    %tbody
      = render @invoice.invoice_items
